.custom-border{
    border: 3px solid #FFA735;
    color: #FFA735;
}

.black-text{
    color: black;
}
.white-text{
    color: whitesmoke;
}
.gold-text{
    color: #FFA735;
}

.background-gold{
    background-color: #FFA735;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #FFA735;
}

/* .custom-border{
    border: 1px solid #FFA735;
    color: #FFA735;
} */

.body{
    min-height: 100vh;
}

.flex-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-border-bottom{
    border-bottom: 3px solid #FFA735;
}

.center-icons{
    padding-top: 70px;
    padding-bottom: 70px;
    position: absolute;
    color: white;
    opacity: 90%;
}

.login-logo-alignment{
    padding: 10px 50px 0 20px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.login-tab-content{
    width: 500px;
    height: 500px;
    border: 2px solid #FFA735;
    border-radius: 10px;
}
.login-tab{
    
    display: flex;
    justify-content: center;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mobile-number-box{
    background-color: #262626;
    border-bottom: 2px solid #FFA735;
    font-size: larger;
}

.otp-number-box{
    background-color: #262626;
    border: 2px solid #FFA735;
    font-size: xx-large;
    text-align: center;
}

.login-tab-content input::placeholder {
    color: #FFA735;
}

.login-tab-content input:focus {
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



.chart-options-box{
    z-index: 101;
    position: absolute;
    right: 10px;
    top:30px;
    width:600px;
    height: 500px;
}

.chart-option-close-icon{
    left: 10px;
    top: 10px;
    position: absolute;
}


